.shadow {
  -webkit-box-shadow: 6px 6px 16px 0px rgba(120, 120, 120, 0.6);
  -moz-box-shadow: 6px 6px 16px 0px rgba(120, 120, 120, 0.6);
  box-shadow: 6px 6px 16px 0px rgba(120, 120, 120, 0.6);
}

.text-shadow { 
  text-shadow: 2px 2px 2px rgb(255, 226, 231)!important;
}
