@font-face {
    font-family: greatVibes;
    src: url(./great-vibes/GreatVibes-Regular.otf);
}

.bg-primary {
    background-color: rgb(255, 226, 231, 0.9)!important;
    position: relative !important;
}

.navbar-dark .navbar-brand {
    color: black!important;
    font-size: 25px;
    font-weight: 700;
}

.shadow-nav {
    -webkit-box-shadow: 3px -1px 18px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -1px 18px -2px rgba(0,0,0,0.75);
    box-shadow: 3px -1px 18px -2px rgba(0,0,0,0.75);
}

.title{
    font-family: greatVibes;
    font-size: 100px;
    color: rgb(99, 223, 99);
    text-align: center;
}

.links{
    padding: 20px !important;
    text-align: center;
}