@font-face {
    font-family: greatVibes;
    src: url(./great-vibes/GreatVibes-Regular.otf);
}

.bg-primary {
    background-color: rgb(255, 226, 231, 0.9)!important;
    position: relative !important;
}


.navbar {
    color: black!important;
    font-size: 2rem;
    font-weight: 700;
    background-color: rgb(248, 254, 255)!important;
    border-radius: 0!important;
}

.shadow-nav {
    -webkit-box-shadow: 3px -1px 18px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -1px 18px -2px rgba(0,0,0,0.75);
    box-shadow: 3px -1px 18px -2px rgba(0,0,0,0.75);
}

.links{
    padding: 10px !important;
    text-align: center;
}
.navbar-brand {
    margin-bottom: 0;
}
