@font-face {
  font-family: greatVibes;
  src: url(./great-vibes/GreatVibes-Regular.otf);
}

.jumbotron {
    padding: 10px;
    margin: 20px 40px 25px;
    background-color: rgb(255, 226, 231, 0.9);
    border-radius: .5rem;
}

p {
  font-size: 24px!important;
}

/* .title {
  font-family: greatVibes;
  text-align: center;
} */