.img-thumbnail, .img-container {
    height: 300px!important;
    width: 300px!important;
    box-sizing: border-box!important;
}

.img-container {
    background-color: rgb(228, 228, 228);
}

.img-placeholder {
    padding-top: 130px;
}