.img-thumbnail, .img-container {
    height: 300px!important;
    width: 300px!important;
    box-sizing: border-box!important;
}

.img-thumbnail {
    background-color: rgb(255, 226, 231)!important;
}

.img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: .25rem;
}

.img-placeholder {
    padding-top: 130px;
}   

.input-group.mb-3 {
    margin-top: 5px!important;
}

.op {
    margin: 0;
    padding: 0;
    padding-top: 90px;
    font-size: 80px!important;
}

.column {
    min-width: 300px;
    padding: 0;
}

label, input, select, option, .form-control {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.85em!important;
}

label {
    margin-top: 5px;
    font-weight: 400;
}

select {
    font-weight: 400!important;
}

input:hover, .custom-file-input:hover, .custom-file-label:hover, select:hover {
    cursor: pointer!important;
}

.caption {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1em!important;
    font-weight: 700;
    background-color: none;
}

h1.display-4 {
    font-size: 50px!important;
}

input, .transfer-button, .form-control {
    background-color: rgb(248, 254, 255)!important;
}